.light {
  /* Light Mode */
  --Materials-Thick: rgba(255, 255, 255, 0.40);
  --Fills-Quinary: rgba(0, 0, 0, 0.05);
  --Materials---Controls-Under-Window-Background: rgba(255, 255, 255, 0.45);
  --Text-Primary: rgba(0, 0, 0, 0.85);
}

.dark {
  /* Dark Mode */
  --Materials-Thick: rgba(0, 0, 0, 0.40);
  --Fills-Quinary: rgba(255, 255, 255, 0.05);
  --Materials---Controls-Under-Window-Background: rgba(0, 0, 0, 0.45);
  --Text-Primary: rgba(255, 255, 255, 0.85);
}

.take-fill{
  color: var(--Text-Primary);
}

.take-fill svg path {
  fill: var(--Text-Primary);
  fill-opacity: 0.85;
}

.icon-p-6 {
  padding: 6px;
}
