.light {
  /* Light Mode */
  --Materials-Thick: rgba(255, 255, 255, 0.40);
  --Fills-Quinary: rgba(0, 0, 0, 0.05);
  --Materials---Controls-Under-Window-Background: rgba(255, 255, 255, 0.45);
  --Text-Primary: rgba(0, 0, 0, 0.85);
  --Text-Secondary: rgba(0, 0, 0, 0.55);
}

.dark {
  /* Dark Mode */
  --Materials-Thick: rgba(0, 0, 0, 0.40);
  --Fills-Quinary: rgba(255, 255, 255, 0.05);
  --Materials---Controls-Under-Window-Background: rgba(0, 0, 0, 0.45);
  --Text-Primary: rgba(255, 255, 255, 0.85);
  --Text-Secondary: rgba(255, 255, 255, 0.55);
}

.text-primary .take-fill svg path {
  fill: var(--Text-Primary, rgba(0, 0, 0, 0.85));
  fill-opacity: 0.85;
}

.text-secondary .take-fill svg path {
  fill: var(--Text-Secondary, rgba(0, 0, 0, 0.85));
  fill-opacity: 0.55;
}

/*.take-fill svg path {*/
/*  fill: var(--Text-Primary);*/
/*  fill-opacity: 0.85;*/
/*}*/

.icon-p-6 {
  padding: 6px;
}
