@import '../var.less';

.screenshots-operations {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  padding: 6px;

  border-radius: 10px;
  border: 0.5px solid var(--Materials-Thick);
  background: var(--Materials---Controls-Under-Window-Background, rgba(0, 0, 0, 0.45));
  backdrop-filter: blur(40px);

  &-buttons {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &-divider {
    background-color: var(--Fills-Quinary);
    width: 1px;
    height: 10px;
    margin: 0 3px;
  }
}
